<% layout("/layouts/boilerplate")%>
<body>
	<div class="header-box">
		<h3>Welcome to Connectz</h3>
		<a href="/msgbox" class="card" style="width: 18rem">
			<img
				src="https://www.techmango.net/wp-content/uploads/2022/04/mobile-app-development.png"
				class="card-img-top"
				alt="..."
			/>
			<div class="card-body">
				<h5 class="card-title">App development</h5>
				<p class="card-text">Some basic description about App development</p>
			</div>
		</a>
		<a href="/msgbox" class="card" style="width: 18rem">
			<img
				src=""
				class="card-img-top"
				alt="..."
			/>
			<div class="card-body">
				<h5 class="card-title">Web development</h5>
				<p class="card-text">Some basic description about Web development</p>
			</div>
		</a>
	</div>
</body>
